<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.diagnostics>
    <sources>
      <source name="Odyssey" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <!--<add name="wpf"/>-->
        </listeners>
      </source>
      <source name="TrackerRaw" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="trackerRaw"/>
        </listeners>
      </source>
      <source name="TrackerDesc" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="trackerDesc"/>
        </listeners>
      </source>
      <source name="Network" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="console"/>
        </listeners>
      </source>
      <source name="Rendering" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="console"/>
          <!--<add name="logger"/>-->
        </listeners>
      </source>
      <source name="UI" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="console"/>
          <!--<add name="logger"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- You can set the level at which tracing is to occur -->
      <add name="SourceSwitch" value="Information"/>
      <add name="VerboseSwitch" value="Verbose"/>
      <!-- You can turn tracing off -->
      <!--add name="SourceSwitch" value="Off" -->
    </switches>
    <sharedListeners>
      <add name="console" type="AvengersUtd.Odyssey.Utils.Logging.ConsoleTraceListener, Odyssey" initializeData="true"/>
      <!--<add name="logger" type="AvengersUtd.Odyssey.Utils.Logging.LoggerTraceListener, Odyssey" initializeData="false"/>-->
      <!--<add name="wpf" type="AvengersUtd.Odyssey.Utils.Logging.WpfTextTraceListener, Odyssey" initializeData="false"/>-->
      <add name="trackerRaw" type="AvengersUtd.Odyssey.Utils.Logging.StringBuilderListener, Odyssey" initializeData="UserRaw.csv"/>
      <add name="trackerPerf" type="AvengersUtd.Odyssey.Utils.Logging.StringBuilderListener, Odyssey" initializeData="UserPerf.csv"/>
      <add name="trackerDesc" type="AvengersUtd.Odyssey.Utils.Logging.FileTraceListener, Odyssey" initializeData="UserDesc.csv"/>
    </sharedListeners>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <remove name="Default"/>
        <add name="console"/>
        <!--<add name="logger"/>-->
        <!--<add name="wpf"/>-->
        <add name="trackerRaw"/>
        <add name="trackerDesc"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
