<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="Geometry">
        <listeners>
          <add name="consoleListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add type="System.Diagnostics.ConsoleTraceListener" name="consoleListener"
          traceOutputOptions="Timestamp" />
    </sharedListeners>
  </system.diagnostics>
</configuration>