<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AvengersUtd.BrickLab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AvengersUtd.BrickLab.Properties.Settings>
        </AvengersUtd.BrickLab.Properties.Settings>
    </userSettings>
  <system.diagnostics>
    <sources>
      <source name="Network" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="console"/>
          <add name="wpf"/>
        </listeners>
      </source>
      <source name="System" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="console"/>
          <add name="wpf"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- You can set the level at which tracing is to occur -->
      <add name="SourceSwitch" value="Information"/>
      <add name="VerboseSwitch" value="Verbose"/>
      <!-- You can turn tracing off -->
      <!--add name="SourceSwitch" value="Off" -->
    </switches>
    <sharedListeners>
      <add name="console" type="AvengersUtd.BrickLab.Logging.ConsoleTraceListener, BrickLab" initializeData="console"/>
      <add name="wpf" type="AvengersUtd.BrickLab.Logging.WpfTextTraceListener, BrickLab" initializeData="wpf"/>
    </sharedListeners>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <remove name="Default"/>
        <add name="console"/>
        <add name="wpf"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>