<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
  <sharedListeners>
    <add name="console" type="System.Diagnostics.ConsoleTraceListener" >
    </add>
  </sharedListeners>
  <sources>
    <source name="Geometry" switchName="sourceSwitch"  >
      <listeners>
        <add name="console" />
      </listeners>
    </source>
  </sources>
  <switches>
    <add name="sourceSwitch" value="Verbose"/>
  </switches>

  </system.diagnostics>
</configuration>